CompileFlags:
    Add: [-Wall, -Wextra]

Index:
    Background: Skip

Diagnostics:
    Suppress:
        - function_definition_not_allowed
        - typecheck_convert_incompatible
        - undeclared_var_use
        - unused-includes

InlayHints:
    BlockEnd: No
    Designators: No
    ParameterNames: No

Hover:
    ShowAKA: Yes
